.homepageHeading {
  text-align: center;
  padding-bottom: 2rem;
}

.homepageHeading h2,
p {
  margin: 0;
}

.homepageWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  /* background-color: blue; */
  padding: 2rem;
  height: 100%;
}

.divider {
  width: 5rem;
  height: 0.3rem;
  background-color: var(--green);
  display: block;
  margin: 5px auto;
}

.homepageHeading h2 {
  color: var(--dark);
  font-weight: bold;
  font-size: 30px;
  line-height: 1.5;
}

.homepageHeading p {
  color: var(--dark);
  font: 18px;
  font-weight: 500;
}