* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #FFFFFF;
  --secondary: #C4C4C4;
  --third: #F5F5F5;
  --darkGrey: #626262;
  --dark: #121212;
  --green: #5BBC2E;
  --blue: #182F59;
}